@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muller', sans-serif;
  background-color: #f1f1f1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

.heading {
  max-width: 600px;
  margin-left: 40px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
  transition-property: background-color, color, background-image;
  transition-duration: .4s;
  transition-timing-function: ease;
}

a:hover {
  cursor: pointer;
}

b {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Header */
.header {
  margin-bottom: 70px;
}

.header__header-top {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 30px 0px 30px 0px;
}


.header__info {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  max-width: 700px;
  margin-right: 0px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.info-header {
  margin-right: 30px;
  color: #666;
}

.info-header:hover {
  color: #CC9933;
}

.header__top-right {
  margin-left: auto;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

}

.header__account {
  padding-left: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.59 1.41L14.17 5H0V7H14.17L10.58 10.59L12 12L18 6L12 0L10.59 1.41ZM19 0V12H21V0H19Z' fill='%23CC9933'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left top;
  color: #CC9933;
}

.header__account:hover {
  color: #666;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.59 1.41L14.17 5H0V7H14.17L10.58 10.59L12 12L18 6L12 0L10.59 1.41ZM19 0V12H21V0H19Z' fill='%23666'/%3E%3C/svg%3E%0A");
}

.header__top-logo {
  margin-right: 40px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px;
  border-radius: 15px;
  background-color: #FFF;
}

.header__nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 730px;
  margin: 0;
  padding: 17px 56px 17px 0px;
  list-style: none;
  border-right: 1px solid #E1E1E1;
}

.header__nav-item {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.header__nav-link {
  color: #666;
}

.header__nav-link:hover {
  color: #CC9933;
}

.header__nav-item:not(:last-child) {
  margin-right: 45px;
}

.header__btn {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.header__nav-btn {
  margin: 5px 0px 5px 40px;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
}

.header__nav-btn:hover {
  background-color: #CC9933;
  color: white;

}

/* OFFERS */

.offers {
  margin-bottom: 69px;
}

.offers__heading {
  margin-bottom: 20px;
}

.offers__wrap {
  display: flex;
  /*justify-content: space-between;*/
}

.offer {
  width: 573px;
  padding: 40px 234px 40px 40px;
  border-radius: 15px;
  background-size: cover;
}

.offer:not(:last-child){
  margin-right: 23px;
}

.offers__cards {
  position: relative;
  z-index: 1;
}

.offer-small::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px 0px 0px 15px;
}

.offer-maldives {
  position: relative;
  margin-bottom: 23px;
  background-image: url('../img/maldives.jpg');
  background-repeat: no-repeat;
}

.offer-crete {
  position: relative;
  background-image: url('../img/crete.jpg');
  background-repeat: no-repeat;
}

.offer-head {
  margin: 0 0 15px 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
}

.offers-text {
  display: block;
  max-width: 250px;
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  z-index: 1;
}

.offers-detail {
  max-width: 180px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564' stroke='%23FFCC66' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right center;
  color: #FFCC66;
  z-index: 1;
}

.offers-detail:hover {
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564' stroke='%23FFF' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.offer-lux {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 540px;
  background-image: url('../img/luxe.jpg');
  background-repeat: no-repeat;
  z-index: 1;
}


.offer-lux::before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: block;
  height: 210px;
  border-radius: 0px 0px 15px 15px;
  background-image: linear-gradient(to top, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.heading-lux {
  max-width: 300px;
  margin: 0 0 15px 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
}

.offers-text-lux {
  font-size: 30px;
  line-height: 30px;
}

/* About-Us */

.about-us {
  margin-bottom: 70px;
}

.about-us__heading {
  margin-bottom: 11px;
}

.about-us__text {
  max-width: 888px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
}

/* Services */

.services {
  margin-bottom: 70px;
}

.services__heading {
  margin-bottom: 20px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  width: 573px;
  margin-bottom: 23px;
  padding: 191px 26px 50px 45px;
  border-radius: 15px;
  background-size: contain;
  background-color: #fff;
}

.services__item:not(:nth-child(2n)) {
  margin-right: 23px
}

.services__item-heading {
  display: inline-block;
  max-width: 405px;
  padding-right: 15px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.778175 1.00002L8.55635 8.7782L0.778175 16.5564' stroke='%23CC9933' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right center;
  color: #CC9933;
  text-decoration: none;
  transition-property: color, background-image;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.services__item-heading:hover {
  color:#f0c266;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.778175 1.00002L8.55635 8.7782L0.778175 16.5564' stroke='%23f0c266' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.services__item-description {
  display: inline-block;
  max-width: 402px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
}

.item-exclusive {
  background-image: url('../img/exclusive.jpg');
  background-repeat: no-repeat;
  background-position: top;
}

.item-rent {
  background-image: url('../img/feast.jpg');
  background-repeat: no-repeat;
  background-position: top;
}

.item-relax {
  background-image: url('../img/pool.jpg');
  background-repeat: no-repeat;
  background-position: top;
}

.item-parking {
  background-image: url('../img/auto.jpg');
  background-repeat: no-repeat;
  background-position: top;
}


/* Advantages */

.advantages {
  margin-bottom: 70px;
}

.advantages__heading {
  margin-bottom: 30px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  max-width: 275px;
  margin-bottom: 23px;
  padding: 116px 42px 41px 45px;
  border-radius: 15px;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position-y: 40px;
  background-position-x: 45px;
}

.advantages__item:not(:nth-child(4n)) {
  margin-right: 23px
}

.advantages__item:not(:nth-child(4n)) {
  margin-right: 23px
}

.advantages__item-bath {
  background-image: url('../img/bathtub.svg');
}

.advantages__item-hanger {
  background-image: url('../img/hanger.svg');
}

.advantages__item-heating {
  background-image: url('../img/heating.svg');
}

.advantages__item-key{
  background-image: url('../img/hotel-key.svg');
}

.advantages__item-parking {
  background-image: url('../img/parking.svg');
}

.advantages__item-reception {
  background-image: url('../img/reception.svg');
}

.advantages__item-security {
  background-image: url('../img/security-box.svg');
}

.advantages__item-pool {
  background-image: url('../img/swimming-pool.svg');
}

.advantages__item-description{
  margin: 0px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
}


/* Placement */

.placement {
  margin-bottom: 70px;
}

.placement__header {
  margin-bottom: 30px;
}

.placement__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.placement__item {
  display: flex;
  max-width: 373px;
  min-height: 440px;
  margin-bottom: 23px;
  border-radius: 15px;
  background-color: #fff;
}

.placement__item:not(:nth-child(3n)) {
  margin-right: 23px
}

.placement__image {
  max-width: 373px;
  max-height: 217px;
  border-radius: 15px 15px 0px 0px;
}

.placement__info {
  padding: 36px 46px 41px 45px;
}

.placement__price {
  margin-bottom: 16px;
}

.placement__span {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #999;
}

.placement__cost {
  display: inline-block;
  margin-right: 44px;
  margin-bottom: 16px;
}

.placement__rating {
  display: inline-block;
}

.placement__hotel-name {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000;
}

.placement__hotel-location {
  display: block;
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #999;
}

.placement__btn {
  margin-bottom: 54px;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
}

.placement__btn:hover {
  background-color: #CC9933;
  color: white;
}

.more-choice {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 373px;
  padding: 54px 50px 27px 54px;
  background-image: url('../img/more-choice.jpg');
  background-repeat: no-repeat;
  background-position:initial;
  background-size: cover;
}

.more-choice::after {
  content: '';
  position: absolute;
  height: 225px;
  bottom: 0px;
  right: 0px;
  display: block;
  width: 373px;
  border-radius: 0px 0px 15px 15px;
  background: linear-gradient(to top,#304059, #354153);
  opacity: .3;
  box-shadow: 0px -15px 35px #354153;

}

.placement__more {
  position: relative;
  max-width: 370px;
  padding-right: 19px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
  background-image: url('../img/more.svg');
  background-repeat: no-repeat;
  background-position: right;
  z-index: 1;

}

.placement__more::before {
  content: '';
  position: absolute;
  top: -384px;
  right: -50px;
  display: block;
  width: 373px;
  height: 451px;
}

.placement__more:hover {
  color: #f0c266;
  background-image: url('../img/morehover.svg');
}

/* Хочу тур */

.tour {
  margin-bottom: 70px;
}

.tour__form {
  display: flex;
  padding: 31px 28px 30px 28px;
  border-radius: 15px;
  background-color: #FFF;
}

.tour__want {
  padding: 38px 45px 71px 40px;
  border-radius: 15px;
  background-color: #E9E9E9;
}

.tour__heading {
  margin: 0 0 19px 0;
}

.tour__parts {
  display: inline-block;
}

.tour__want-text {
  display: block;
  margin-bottom: 15px;
  font-family: 'Muller', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #000;
}

.tour__want-input {
  display: inline-block;
  width: 100%;
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  border-style: none;
}

.tour__btn-submit {
  align-self: center;
  margin-left: 20px;
  padding: 13px 30px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #CC9933;
  border-radius: 10px;
  transition-property: transform, color, background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
  color: #CC9933;
  background-color: #FFF;
}

.tour__btn-submit:hover {
  color:white;
  background-color: #CC9933;
  transform: scale(1.1, 1.1);
}

.tour__btn-submit:active {
  color: white;
  background-color: #ca901d;
  transform: none;
}

.tour__btn-submit:hover {
  cursor: pointer;
}

.tour__city {
  min-width: 190px;
  padding-right: 20px;
  border-right: 1px solid #e1e1e1;
}

.tour__country {
  min-width: 190px;
  margin-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #e1e1e1;
}

.country-input {
  width: 82px;
}

.tour__arrival {
  margin-left: 20px;
  padding-right: 21.3px;
  border-right: 1px solid #e1e1e1;
}

.tour__arrival-input {
  width: 120px;
}

.tour__night {
  margin-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #e1e1e1;
}

.tour__tourist {

  margin-left: 20px;
  padding-right: 34px;
  border-right: 1px solid #e1e1e1;
}

.tour__input {
  border-bottom: 1px solid #e5e5e5;
}


/* Contacts */

.contacts {
  margin-bottom: 19px;
}

.contacts__about {
  display: flex;
  justify-content: space-between;
  padding: 44px 44px 46px 46px;
  border-radius: 15px;
  background-color: #fff;
}

.contacts__information {
  display: inline-block;
  margin-right: 50px;
}

.contacts__list {
  margin-bottom: 45px;
  padding-left: 0;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #C4C4C4;
}

.contacts__heading {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  max-width: 140px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.contacts__adress-item {
  padding-bottom: 23px;
}

.contacts__adress-span {

  max-width: 229px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}

.contacts__phone-item {
  margin-top: 25px;
  padding-bottom: 31px;
}

.contacts__phone-span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 230px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.contacts__phone {
  align-items: flex-start;
  display: block;
  color: #cc9933;
}

.contacts__mail-item {
  margin-top: 25px;
  padding-bottom: 30px;
}

.contacts__mail-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 225px;

}

.contacts__mail-span {
  max-width: 225px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #c4c4c4;
}

.contacts__mail-to {
  color: #CC9933;
}

.contacts__phone:hover,
.contacts__mail-to:hover {
  color: #666;
}

.contacts__chart-item {
  margin-top: 25px;
  padding-bottom: 23px;
}

.contacts__chart-info {
  max-width: 224px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.contacts__btn {
  display: inline-block;
  padding: 27px 29px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
}

.contacts__btn:hover {
  color: white;
  background-color: #CC9933;
}

.contacts__image {
  display: inline-block;
}


/* Footer */

.footer {
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  padding: 44px 51px 0px 52px;
  border-radius: 15px;
  background-color: #333;
  background-image: url(../img/footer.svg);
  background-repeat: no-repeat;
  background-position-x: 738px;
  background-position-y: bottom;
}

.footer__text {
  display: inline-block;
  margin-right: 102px;
  margin-bottom: 55px;
  width: 320px;
  height: 242px;
}

.footer__copyright {
  display: block;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 30.4px;
  font-weight: 400;
  color: #fff;
}

.footer__offer {
  display: block;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 30.4px;
  font-weight: 400;
  color: #fff;
}

.footer__agreement {
  display: block;
  margin-bottom: 55px;
  color: #CC9933;
}

.footer__contacts {
  display: inline-block;
  margin-right: 260px;
  width: 358px;
}

.footer__address {
  display: block;
  margin-bottom: 35px;
  font-style: normal;
  font-size: 16px;
  line-height: 23.76px;
  font-weight: 400;
  color: #fff;
}

.footer__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 35px;
}

.footer__phone-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 24px;
  color: #CC9933;
}

.footer__mail-link {
  display: block;
  line-height: 24px;
  color: #CC9933;
}

.footer__agreement:hover,
.footer__phone-link:hover,
.footer__mail-link:hover {
  color: white;
}

.footer__social-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__social-item {
  width: 25px;
  height: 25px;
  margin-bottom: 20px;

}
.footer__link {
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.footer__link:hover {
  opacity: 1;
}

.social-link-visor {
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.1779 11.7844C16.3343 11.7844 15.6441 12.449 15.6441 13.2926C15.6441 14.1362 16.3343 14.8263 17.1523 14.8263C17.9959 14.8263 18.6605 14.1362 18.6605 13.3182C18.6861 12.449 18.0214 11.7844 17.1779 11.7844ZM17.1779 14.0595C16.7433 14.0595 16.411 13.7272 16.411 13.2926C16.411 12.858 16.7433 12.5257 17.1779 12.5257C17.6124 12.5257 17.9447 12.8836 17.9447 13.2926C17.9447 13.7272 17.5869 14.0595 17.1779 14.0595Z' fill='white'/%3E%3Cpath d='M7.7965 9.58598C5.77707 9.56042 4.01327 11.2475 4.06439 13.3948C4.08996 15.3886 5.75151 17.1013 7.84762 17.0757C9.89261 17.0502 11.5542 15.3886 11.5542 13.3436C11.5542 11.2731 9.89261 9.58598 7.7965 9.58598ZM7.84762 15.6187C6.49282 15.6698 5.39364 14.5962 5.39364 13.2925C5.39364 11.9633 6.49282 10.9408 7.71981 10.9663C8.99793 10.9663 10.046 11.9888 10.046 13.2925C10.0715 14.5962 9.04905 15.5676 7.84762 15.6187Z' fill='white'/%3E%3Cpath d='M12.5 0C5.59815 0 0 5.59815 0 12.5C0 19.4018 5.59815 25 12.5 25C19.4018 25 25 19.4018 25 12.5C25 5.59815 19.4018 0 12.5 0ZM19.683 17.3568C18.9161 17.8425 18.0726 18.0726 17.1779 18.0726C16.7945 18.0726 16.411 18.0215 16.0532 17.9192C15.1585 17.6891 14.3916 17.229 13.7525 16.5644C13.6759 16.4877 13.5992 16.3855 13.4969 16.2832C13.1646 16.7945 12.8323 17.2801 12.5 17.7914C12.1677 17.2801 11.8354 16.7945 11.5031 16.3088C11.4775 16.3088 11.4775 16.3343 11.4775 16.3343L11.4519 16.3599C10.6851 17.2801 9.71369 17.817 8.53782 18.0215C7.8732 18.1237 7.23414 18.0981 6.59509 17.9192C5.7004 17.6636 4.93353 17.2035 4.29447 16.4877C3.68098 15.7975 3.3231 15.0051 3.16973 14.0849C3.01636 13.2413 3.19529 12.4233 3.24642 12.2188C3.39979 11.6309 3.62985 11.1196 3.98773 10.6339C4.01329 10.6084 4.01329 10.5317 4.01329 10.5061C3.88548 9.99488 3.62985 9.53475 3.34867 9.07463C3.27198 8.97238 3.19529 8.87013 3.11861 8.74232V8.71676C3.14417 8.71676 3.14417 8.71676 3.16973 8.71676C4.11554 8.71676 5.06134 8.71676 6.00715 8.71676C6.05828 8.71676 6.08384 8.6912 6.13496 8.66564C6.79958 8.23108 7.51533 7.89876 8.25664 7.64314C8.79345 7.4642 9.33026 7.31083 9.89263 7.20858C10.4294 7.10633 10.9662 7.02964 11.5286 7.00408C12.8579 6.90183 13.9315 7.02964 14.6472 7.13189C15.184 7.20858 15.6953 7.33639 16.2065 7.48977C17.1012 7.77095 17.9192 8.15439 18.7116 8.64007C18.7628 8.66564 18.8394 8.6912 18.9161 8.6912C19.8364 8.6912 20.7566 8.6912 21.6769 8.6912C21.7536 8.6912 21.8302 8.6912 21.9069 8.6912C21.9069 8.71676 21.9069 8.71676 21.9069 8.71676C21.8558 8.79345 21.8302 8.84457 21.7791 8.92126C21.4724 9.40694 21.1912 9.89263 21.0378 10.455C21.0122 10.5061 21.0122 10.5572 21.0634 10.6339C21.8814 11.8098 22.137 13.1135 21.8047 14.5194C21.4468 15.7208 20.7566 16.6667 19.683 17.3568Z' fill='white'/%3E%3Cpath d='M7.71982 11.7844C6.90182 11.7844 6.21164 12.4746 6.21164 13.2926C6.21164 14.1362 6.90182 14.8008 7.74538 14.8008C8.56338 14.8008 9.25356 14.1106 9.25356 13.267C9.25356 12.449 8.58894 11.7844 7.71982 11.7844ZM7.74538 14.085C7.31082 14.085 6.95295 13.7527 6.95295 13.2926C6.95295 12.858 7.28526 12.5257 7.71982 12.5257C8.15438 12.5257 8.48669 12.858 8.51225 13.2926C8.53781 13.7272 8.17994 14.0595 7.74538 14.085Z' fill='white'/%3E%3Cpath d='M17.1012 9.61152C15.0562 9.66264 13.4458 11.2986 13.4202 13.3436C13.4202 15.4142 15.1073 17.1268 17.1779 17.1013C19.2484 17.1013 20.9356 15.4397 20.9356 13.3436C20.9356 11.1964 19.1718 9.56039 17.1012 9.61152ZM17.2801 15.6187C15.9253 15.6698 14.8517 14.5962 14.8517 13.2925C14.8517 11.9633 15.9509 10.9408 17.1779 10.9663C18.456 10.9663 19.5041 11.9888 19.5041 13.2925C19.5041 14.5706 18.4816 15.5675 17.2801 15.6187Z' fill='white'/%3E%3Cpath d='M13.9826 9.86723C14.8006 9.10035 15.7975 8.71692 16.9223 8.61467C15.593 8.02674 14.1871 7.77111 12.73 7.74555C11.094 7.71999 9.48361 7.95005 7.97543 8.58911C9.12574 8.6658 10.1227 9.04923 10.9662 9.8161C11.8098 10.583 12.2955 11.5543 12.4744 12.6791C12.6789 11.5799 13.1646 10.6341 13.9826 9.86723Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.social-link-twit {
  width: 25px;
  height: 25px;
  background-image: url('../img/twitter.svg');
}

.social-link-telegram {
  width: 25px;
  height: 25px;
  background-image: url('../img/telegram.svg');
}

.social-link-vk {
  width: 25px;
  height: 25px;
  background-image: url('../img/vkontakte.svg');
}

.social-link-youtube {
  width: 25px;
  height: 25px;
  background-image: url('../img/youtube.svg');
}
